<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>modal</title>
</head>
<body>
<div class="modal" id="my-modal-notification" th:fragment="modal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notification</h4>
        <button type="button" class="btn-close btn-close-black " data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body container">

      </div>
      <!-- Modal footer -->
    </div>
  </div>
</div>
</body>
</html>