<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

</head>
<body>
<div class="container-scroller">
    <div th:include="common/sidebar"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:include="common/header"></div>
        <div class="main-panel">
            <div class="content-wrapper" style="height: 500px">
                <div class="page-header">
                    <h3 class="page-title">List user</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">

                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user:${users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getFullname()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getPhone()}"></td>
                                            <td>
                                                <form method="POST" th:action="@{/admin/user/delete(userId=${user.getId()})}">
                                                <button class="btn btn-outline-danger btn-fw">Remove</button>
                                                </form>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:include="common/footer"></div>
        </div>
    </div>
</div>

</body>
</html>